@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get Source Code from <a href="https://github.com/chammaofficial/MobilityEye.git">here.</a>.</p>
</div>
